In [ ]:
# nuttige site: https://strftime.org/

In [2]:
import pandas as pd

In [26]:
df = pd.DataFrame({
    "timestamp": [
        "2025-01-01 14:00",
        "2025-01-01 15:00",
        "2025-01-01 16:00",
        "2025-01-01 17:00",
        "2025-01-01 18:00",
        "2025-01-01 19:00",
        "2025-01-01 20:00",
        "2025-01-02 00:00",
        "2025-01-02 01:00",
        "2025-01-02 02:00",
        "2025-01-02 03:00",
        "2025-01-02 04:00",
        "2025-01-02 05:00",
        "2025-01-02 06:00",
    ],
    "stockprice": [10, 12, 9, 11, 13, 20, 12,
              23, 2, 44, 2, 4, 3, 23]
})

df.head(10)

          timestamp  stockprice
0  2025-01-01 14:00          10
1  2025-01-01 15:00          12
2  2025-01-01 16:00           9
3  2025-01-01 17:00          11
4  2025-01-01 18:00          13
5  2025-01-01 19:00          20
6  2025-01-01 20:00          12
7  2025-01-02 00:00          23
8  2025-01-02 01:00           2
9  2025-01-02 02:00          44

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   timestamp   14 non-null     object
 1   stockprice  14 non-null     int64
dtypes: int64(1), object(1)
memory usage: 356.0+ bytes

In [28]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   timestamp   14 non-null     datetime64[ns]
 1   stockprice  14 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 356.0 bytes

In [7]:
df['hour'] = df['timestamp'].dt.hour
df['day_name'] = df['timestamp'].dt.day_name()

In [8]:
df['week'] = df['timestamp'].dt.isocalendar().week
df['quarter'] = df['timestamp'].dt.quarter

In [9]:
df = df.set_index('timestamp').sort_index()

In [10]:
df.loc['2025-01-01 14:00:00':'2025-01-01 17:00:00']

                     stockprice  hour   day_name  week  quarter
timestamp
2025-01-01 14:00:00          10    14  Wednesday     1        1
2025-01-01 15:00:00          12    15  Wednesday     1        1
2025-01-01 16:00:00           9    16  Wednesday     1        1
2025-01-01 17:00:00          11    17  Wednesday     1        1

In [11]:
df

                     stockprice  hour   day_name  week  quarter
timestamp
2025-01-01 14:00:00          10    14  Wednesday     1        1
2025-01-01 15:00:00          12    15  Wednesday     1        1
2025-01-01 16:00:00           9    16  Wednesday     1        1
2025-01-01 17:00:00          11    17  Wednesday     1        1
2025-01-01 18:00:00          13    18  Wednesday     1        1
2025-01-01 19:00:00          20    19  Wednesday     1        1
2025-01-01 20:00:00          12    20  Wednesday     1        1
2025-01-02 00:00:00          23     0   Thursday     1        1
2025-01-02 01:00:00           2     1   Thursday     1        1
2025-01-02 02:00:00          44     2   Thursday     1        1
2025-01-02 03:00:00           2     3   Thursday     1        1
2025-01-02 04:00:00           4     4   Thursday     1        1
2025-01-02 05:00:00           3     5   Thursday     1        1
2025-01-02 06:00:00          23     6   Thursday     1        1

In [12]:
df.resample('d')['stockprice'].median()

timestamp
2025-01-01    12.0
2025-01-02     4.0
Freq: D, Name: stockprice, dtype: float64

In [13]:
df.resample('h').asfreq()

                     stockprice  hour   day_name  week  quarter
timestamp
2025-01-01 14:00:00        10.0  14.0  Wednesday     1      1.0
2025-01-01 15:00:00        12.0  15.0  Wednesday     1      1.0
2025-01-01 16:00:00         9.0  16.0  Wednesday     1      1.0
2025-01-01 17:00:00        11.0  17.0  Wednesday     1      1.0
2025-01-01 18:00:00        13.0  18.0  Wednesday     1      1.0
2025-01-01 19:00:00        20.0  19.0  Wednesday     1      1.0
2025-01-01 20:00:00        12.0  20.0  Wednesday     1      1.0
2025-01-01 21:00:00         NaN   NaN        NaN  <NA>      NaN
2025-01-01 22:00:00         NaN   NaN        NaN  <NA>      NaN
2025-01-01 23:00:00         NaN   NaN        NaN  <NA>      NaN
2025-01-02 00:00:00        23.0   0.0   Thursday     1      1.0
2025-01-02 01:00:00         2.0   1.0   Thursday     1      1.0
2025-01-02 02:00:00        44.0   2.0   Thursday     1      1.0
2025-01-02 03:00:00         2.0   3.0   Thursday     1      1.0
2025-01-02 04:00:00         4.0   4.0   Thursday     1      1.0
2025-01-02 05:00:00         3.0   5.0   Thursday     1      1.0
2025-01-02 06:00:00        23.0   6.0   Thursday     1      1.0

In [14]:
df.head()

                     stockprice  hour   day_name  week  quarter
timestamp
2025-01-01 14:00:00          10    14  Wednesday     1        1
2025-01-01 15:00:00          12    15  Wednesday     1        1
2025-01-01 16:00:00           9    16  Wednesday     1        1
2025-01-01 17:00:00          11    17  Wednesday     1        1
2025-01-01 18:00:00          13    18  Wednesday     1        1

In [15]:
df.drop('day_name', axis=1, inplace=True)

In [16]:
df.diff().head()

                     stockprice  hour  week  quarter
timestamp
2025-01-01 14:00:00         NaN   NaN  <NA>      NaN
2025-01-01 15:00:00         2.0   1.0     0      0.0
2025-01-01 16:00:00        -3.0   1.0     0      0.0
2025-01-01 17:00:00         2.0   1.0     0      0.0
2025-01-01 18:00:00         2.0   1.0     0      0.0

In [17]:
df.head()

                     stockprice  hour  week  quarter
timestamp
2025-01-01 14:00:00          10    14     1        1
2025-01-01 15:00:00          12    15     1        1
2025-01-01 16:00:00           9    16     1        1
2025-01-01 17:00:00          11    17     1        1
2025-01-01 18:00:00          13    18     1        1

In [18]:
df.pct_change().head()

                     stockprice      hour  week  quarter
timestamp
2025-01-01 14:00:00         NaN       NaN  <NA>      NaN
2025-01-01 15:00:00    0.200000  0.071429   0.0      0.0
2025-01-01 16:00:00   -0.250000  0.066667   0.0      0.0
2025-01-01 17:00:00    0.222222  0.062500   0.0      0.0
2025-01-01 18:00:00    0.181818  0.058824   0.0      0.0

In [19]:
df['previous_stockprice'] =  df['stockprice'].shift(2)

In [20]:
df

                     stockprice  hour  week  quarter  previous_stockprice
timestamp
2025-01-01 14:00:00          10    14     1        1                  NaN
2025-01-01 15:00:00          12    15     1        1                  NaN
2025-01-01 16:00:00           9    16     1        1                 10.0
2025-01-01 17:00:00          11    17     1        1                 12.0
2025-01-01 18:00:00          13    18     1        1                  9.0
2025-01-01 19:00:00          20    19     1        1                 11.0
2025-01-01 20:00:00          12    20     1        1                 13.0
2025-01-02 00:00:00          23     0     1        1                 20.0
2025-01-02 01:00:00           2     1     1        1                 12.0
2025-01-02 02:00:00          44     2     1        1                 23.0
2025-01-02 03:00:00           2     3     1        1                  2.0
2025-01-02 04:00:00           4     4     1        1                 44.0
2025-01-02 05:00:00           3     5     1        1                  2.0
2025-01-02 06:00:00          23     6     1        1                  4.0

In [21]:
df['rolling5_mean_stockprice'] = df['stockprice'].rolling(5).mean()

In [22]:
df

,stockprice,hour,week,quarter,previous_stockprice,rolling5_mean_stockprice
timestamp,,,,,,
2025-01-01 14:00:00,10,14,1,1,NaN,NaN
2025-01-01 15:00:00,12,15,1,1,NaN,NaN
2025-01-01 16:00:00,9,16,1,1,10.0,NaN
2025-01-01 17:00:00,11,17,1,1,12.0,NaN
2025-01-01 18:00:00,13,18,1,1,9.0,11.0
2025-01-01 19:00:00,20,19,1,1,11.0,13.0
2025-01-01 20:00:00,12,20,1,1,13.0,13.0
2025-01-02 00:00:00,23,0,1,1,20.0,15.8
2025-01-02 01:00:00,2,1,1,1,12.0,14.0
2025-01-02 02:00:00,44,2,1,1,23.0,20.2
2025-01-02 03:00:00,2,3,1,1,2.0,16.6
2025-01-02 04:00:00,4,4,1,1,44.0,15.0
2025-01-02 05:00:00,3,5,1,1,2.0,11.0
2025-01-02 06:00:00,23,6,1,1,4.0,15.2

KeyError: 'timestamp'