In [108]:
import pandas as pd
from pyarrow import timestamp

In [109]:
df = pd.DataFrame({
    "timestamp": [
        "2025-01-01 14:00",
        "2025-01-01 15:00",
        "2025-01-01 16:00",
        "2025-01-01 17:00",
        "2025-01-01 18:00",
        "2025-01-01 19:00",
        "2025-01-01 20:00",
        "2025-01-02 00:00",
        "2025-01-02 01:00",
        "2025-01-02 02:00",
        "2025-01-02 03:00",
        "2025-01-02 04:00",
        "2025-01-02 05:00",
        "2025-01-02 06:00",
    ],
    "stockprice": [10, 12, 9, 11, 13, 20, 12,
              23, 2, 44, 2, 4, 3, 23]
})

df.head(10)

          timestamp  value
0  2025-01-01 14:00     10
1  2025-01-01 15:00     12
2  2025-01-01 16:00      9
3  2025-01-01 17:00     11
4  2025-01-01 18:00     13
5  2025-01-01 19:00     20
6  2025-01-01 20:00     12
7  2025-01-02 00:00     23
8  2025-01-02 01:00      2
9  2025-01-02 02:00     44

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  14 non-null     object
 1   value      14 non-null     int64
dtypes: int64(1), object(1)
memory usage: 356.0+ bytes

In [111]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [112]:
df.head()

            timestamp  value
0 2025-01-01 14:00:00     10
1 2025-01-01 15:00:00     12
2 2025-01-01 16:00:00      9
3 2025-01-01 17:00:00     11
4 2025-01-01 18:00:00     13

In [113]:
df = df.set_index('timestamp').sort_index()

In [114]:
df.loc['2025-01-01 14:00:00' : '2025-01-01 23:00:00']

                     value
timestamp
2025-01-01 14:00:00     10
2025-01-01 15:00:00     12
2025-01-01 16:00:00      9
2025-01-01 17:00:00     11
2025-01-01 18:00:00     13
2025-01-01 19:00:00     20
2025-01-01 20:00:00     12

In [115]:
df.resample('d').mean()

                value
timestamp
2025-01-01  12.428571
2025-01-02  14.428571

In [116]:
df.pct_change()

                         value
timestamp
2025-01-01 14:00:00        NaN
2025-01-01 15:00:00   0.200000
2025-01-01 16:00:00  -0.250000
2025-01-01 17:00:00   0.222222
2025-01-01 18:00:00   0.181818
2025-01-01 19:00:00   0.538462
2025-01-01 20:00:00  -0.400000
2025-01-02 00:00:00   0.916667
2025-01-02 01:00:00  -0.913043
2025-01-02 02:00:00  21.000000
2025-01-02 03:00:00  -0.954545
2025-01-02 04:00:00   1.000000
2025-01-02 05:00:00  -0.250000
2025-01-02 06:00:00   6.666667

                         value
timestamp
2025-01-01 14:00:00        NaN
2025-01-01 15:00:00        NaN
2025-01-01 16:00:00  10.333333
2025-01-01 17:00:00  10.666667
2025-01-01 18:00:00  11.000000
2025-01-01 19:00:00  14.666667
2025-01-01 20:00:00  15.000000
2025-01-02 00:00:00  18.333333
2025-01-02 01:00:00  12.333333
2025-01-02 02:00:00  23.000000
2025-01-02 03:00:00  16.000000
2025-01-02 04:00:00  16.666667
2025-01-02 05:00:00   3.000000
2025-01-02 06:00:00  10.000000