In [1]:
import numpy as np
import pandas as pd

In [33]:
from numpy.random import randn
np.random.seed(1)

In [3]:
df = pd.DataFrame(randn(5,4), index=['A', 'B', 'C', 'D', 'E'], columns=['W','X', 'Y', 'Z'])

In [4]:
df

          W         X         Y         Z
A  1.624345 -0.611756 -0.528172 -1.072969
B  0.865408 -2.301539  1.744812 -0.761207
C  0.319039 -0.249370  1.462108 -2.060141
D -0.322417 -0.384054  1.133769 -1.099891
E -0.172428 -0.877858  0.042214  0.582815

In [8]:
df['W']

          W         Y
A  1.624345 -0.528172
B  0.865408  1.744812
C  0.319039  1.462108
D -0.322417  1.133769
E -0.172428  0.042214

In [35]:
df[['W', 'X', 'Y']]

          W         X         Y
A  1.624345 -0.611756 -0.528172
B  0.865408 -2.301539  1.744812
C  0.319039 -0.249370  1.462108
D -0.322417 -0.384054  1.133769
E -0.172428 -0.877858  0.042214

In [17]:
df['new'] = [0,1,2,3,4]

In [46]:
df['new2'] = df['W'].mean()

In [48]:
df

          W         X         Y      new2
A  1.624345 -0.611756 -0.528172  0.462789
B  0.865408 -2.301539  1.744812  0.462789
C  0.319039 -0.249370  1.462108  0.462789
D -0.322417 -0.384054  1.133769  0.462789
E -0.172428 -0.877858  0.042214  0.462789

In [32]:
df.drop('Z', axis=0, inplace=True)

In [60]:
df['ints'] = [13,203,203,332,232]

In [38]:
df.loc[['A', 'B']]

          W         X         Y
A  1.624345 -0.611756 -0.528172
B  0.865408 -2.301539  1.744812

In [39]:
df.iloc[3]

W   -0.322417
X   -0.384054
Y    1.133769
Name: D, dtype: float64

In [41]:
df.iloc[[0, 1],[0,1]]

          W         X
A  1.624345 -0.611756
B  0.865408 -2.301539

In [50]:
df > 0

       W      X      Y  new2
A   True  False  False  True
B   True  False   True  True
C   True  False   True  True
D  False  False   True  True
E  False  False   True  True

In [51]:
df[df > 0]

          W   X         Y      new2
A  1.624345 NaN       NaN  0.462789
B  0.865408 NaN  1.744812  0.462789
C  0.319039 NaN  1.462108  0.462789
D       NaN NaN  1.133769  0.462789
E       NaN NaN  0.042214  0.462789

In [52]:
df['W'] > 0

A     True
B     True
C     True
D    False
E    False
Name: W, dtype: bool

In [53]:
df[df['W'] > 0]

          W         X         Y      new2
A  1.624345 -0.611756 -0.528172  0.462789
B  0.865408 -2.301539  1.744812  0.462789
C  0.319039 -0.249370  1.462108  0.462789

In [54]:
df[df['W'] < 0]

          W         X         Y      new2
D -0.322417 -0.384054  1.133769  0.462789
E -0.172428 -0.877858  0.042214  0.462789

In [61]:
df

          W         X         Y      new2  ints
A  1.624345 -0.611756 -0.528172  0.462789    13
B  0.865408 -2.301539  1.744812  0.462789   203
C  0.319039 -0.249370  1.462108  0.462789   203
D -0.322417 -0.384054  1.133769  0.462789   332
E -0.172428 -0.877858  0.042214  0.462789   232

In [69]:
df_zonder_203 = df[df['ints'] != 203]
df_zonder_203['W']

A    1.624345
D   -0.322417
E   -0.172428
Name: W, dtype: float64

In [72]:
df[df['ints'] != 203][['W', 'X']]

          W         X
A  1.624345 -0.611756
D -0.322417 -0.384054
E -0.172428 -0.877858

In [81]:
df[(df['ints'] != 203) & (df['W'] < 0)]

          W         X         Y      new2  ints
D -0.322417 -0.384054  1.133769  0.462789   332
E -0.172428 -0.877858  0.042214  0.462789   232

In [80]:
(5 > 3) and (5== 8)

False

In [83]:
df.reset_index()

  index         W         X         Y      new2  ints
0     A  1.624345 -0.611756 -0.528172  0.462789    13
1     B  0.865408 -2.301539  1.744812  0.462789   203
2     C  0.319039 -0.249370  1.462108  0.462789   203
3     D -0.322417 -0.384054  1.133769  0.462789   332
4     E -0.172428 -0.877858  0.042214  0.462789   232

In [84]:
df

          W         X         Y      new2  ints
A  1.624345 -0.611756 -0.528172  0.462789    13
B  0.865408 -2.301539  1.744812  0.462789   203
C  0.319039 -0.249370  1.462108  0.462789   203
D -0.322417 -0.384054  1.133769  0.462789   332
E -0.172428 -0.877858  0.042214  0.462789   232

In [85]:
new_ind = 'AN OV WV LB VB'.split()

In [86]:
new_ind

['AN', 'OV', 'WV', 'LB', 'VB']

In [87]:
df['Prov'] = new_ind

In [90]:
df.set_index('Prov', inplace=True)

In [91]:
df

             W         X         Y      new2  ints
Prov
AN    1.624345 -0.611756 -0.528172  0.462789    13
OV    0.865408 -2.301539  1.744812  0.462789   203
WV    0.319039 -0.249370  1.462108  0.462789   203
LB   -0.322417 -0.384054  1.133769  0.462789   332
VB   -0.172428 -0.877858  0.042214  0.462789   232