In [1]:
import numpy as np
import pandas as pd

In [33]:
from numpy.random import randn
np.random.seed(1)

In [3]:
df = pd.DataFrame(randn(5,4), index=['A', 'B', 'C', 'D', 'E'], columns=['W','X', 'Y', 'Z'])

In [4]:
df

          W         X         Y         Z
A  1.624345 -0.611756 -0.528172 -1.072969
B  0.865408 -2.301539  1.744812 -0.761207
C  0.319039 -0.249370  1.462108 -2.060141
D -0.322417 -0.384054  1.133769 -1.099891
E -0.172428 -0.877858  0.042214  0.582815

In [8]:
df['W']

          W         Y
A  1.624345 -0.528172
B  0.865408  1.744812
C  0.319039  1.462108
D -0.322417  1.133769
E -0.172428  0.042214

In [35]:
df[['W', 'X', 'Y']]

          W         X         Y
A  1.624345 -0.611756 -0.528172
B  0.865408 -2.301539  1.744812
C  0.319039 -0.249370  1.462108
D -0.322417 -0.384054  1.133769
E -0.172428 -0.877858  0.042214

In [17]:
df['new'] = [0,1,2,3,4]

In [21]:
df['new2'] = df['W'] + df['X']

A    1.012589
B   -1.436131
C    0.069669
D   -0.706472
E   -1.050287
dtype: float64

In [20]:
df

          W         X         Y         Z  new      new2
A  1.624345 -0.611756 -0.528172 -1.072969    0  1.012589
B  0.865408 -2.301539  1.744812 -0.761207    1 -1.436131
C  0.319039 -0.249370  1.462108 -2.060141    2  0.069669
D -0.322417 -0.384054  1.133769 -1.099891    3 -0.706472
E -0.172428 -0.877858  0.042214  0.582815    4 -1.050287

In [32]:
df.drop('Z', axis=0, inplace=True)

In [37]:
df

          W         X         Y
A  1.624345 -0.611756 -0.528172
B  0.865408 -2.301539  1.744812
C  0.319039 -0.249370  1.462108
D -0.322417 -0.384054  1.133769
E -0.172428 -0.877858  0.042214

In [38]:
df.loc[['A', 'B']]

          W         X         Y
A  1.624345 -0.611756 -0.528172
B  0.865408 -2.301539  1.744812

In [39]:
df.iloc[3]

W   -0.322417
X   -0.384054
Y    1.133769
Name: D, dtype: float64

In [41]:
df.iloc[[0, 1],[0,1]]

          W         X
A  1.624345 -0.611756
B  0.865408 -2.301539