# Oefenbundel: Pandas Series & DataFrames
Uitgebreide oefeningen voor beginners

In elke oefening staat op het einde een **Challenge**-vraag voor wie wat extra uitdaging wil.

## 1. Series – Basis
Beantwoord de vragen door de code onderaan elke opdracht te schrijven.


### Oefening 1.1  
Maak een Series `s` met de waarden: 10, 20, 30, 40.

**Vragen:**  
- Wat is het datatype van `s`?  
- Hoeveel elementen bevat `s`?  

**Challenge:**  
- Geef alle elementen maal 10 terug als nieuwe Series `s2`.  
- Wat is het gemiddelde van de waarden in `s2`?

In [ ]:
import pandas as pd

# Jouw code hier


### Oefening 1.2  
Maak een Series met deze labels:  
- index: `['a', 'b', 'c']`  
- waarden: `[5, 9, 12]`  

**Vraag:**  
- Haal enkel het element met label `'b'` op.  

**Challenge:**  
- Verhoog alle waarden met 1.  
- Verander daarna de waarde met label `'c'` naar `100`.  
- Welke invloed heeft dat op de som van de Series?

In [ ]:
# Jouw code hier


### Oefening 1.3  
Gegeven de Series:

```python
scores = pd.Series([12, 17, 19, None, 15])
```

**Vragen:**  
- Tel het aantal ontbrekende waarden.  
- Vervang ontbrekende waarden door het gemiddelde.  

**Challenge:**  
- Bereken de standaardafwijking van de scores (na het opvullen van de ontbrekende waarde).  
- Schrijf code die alle scores boven het gemiddelde filtert.

In [ ]:
scores = pd.Series([12, 17, 19, None, 15])

# Jouw code hier

## 2. DataFrames – Basis


### Oefening 2.1  
Construeer deze DataFrame:

| naam | leeftijd | stad      |
|------|----------|-----------|
| Tom  | 21       | Gent      |
| Anna | 19       | Antwerpen |
| Max  | 22       | Brugge    |

**Vragen:**  
- Wat zijn de kolomnamen?  
- Toon de eerste twee rijen.  

**Challenge:**  
- Stel dat er nog een student is: `Sara`, 20 jaar, uit `Leuven`.  
  Voeg haar toe als extra rij aan de DataFrame.  
- Hoeveel rijen heeft de DataFrame nu?

In [ ]:
# Jouw code hier


### Oefening 2.2  
Vertrek van dezelfde DataFrame als in oefening 2.1.  

Voeg een nieuwe kolom `is_volwassen` toe waarbij de waarde `True` is als `leeftijd ≥ 18`.

**Challenge:**  
- Maak een nieuwe kolom `leeftijdsgroep` met waarden:  
  - `'jongvolwassene'` als leeftijd < 21  
  - `'volwassene'` als leeftijd ≥ 21  
- Toon enkel de rijen waar `leeftijdsgroep == 'volwassene'`.

In [ ]:
# Jouw code hier


### Oefening 2.3  
Vertrek opnieuw van de DataFrame uit oefening 2.1 (zonder extra rijen is ook ok).  

Filter alle rijen waar de stad *niet* `'Gent'` is.

**Challenge:**  
- Maak een DataFrame met alleen de kolommen `naam` en `stad`.  
- Sorteer deze nieuwe DataFrame alfabetisch op `stad`.

In [ ]:
# Jouw code hier

## 3. Operaties op DataFrames


### Oefening 3.1 – Statistieken  
Gegeven:

```python
df = pd.DataFrame({
    "A": [5, 2, 7, 1],
    "B": [3, 8, 4, 6]
})
```

**Vragen:**  
- Bereken de som van kolom `A`.  
- Bereken het gemiddelde van kolom `B`.  
- Bereken de correlatie tussen `A` en `B`.  

**Challenge:**  
- Voeg een nieuwe kolom `C` toe met de waarden `A * B` (elementgewijs).  
- Bereken de maximumwaarde van kolom `C`.  
- Filter de rijen waar `C` groter is dan het gemiddelde van `C`.

In [ ]:
df = pd.DataFrame({"A": [5, 2, 7, 1], "B": [3, 8, 4, 6]})

# Jouw code hier


### Oefening 3.2 – Sorteren  
Vertrek van dezelfde DataFrame `df` als in oefening 3.1.  

Sorteer de DataFrame `df` op kolom `B`, aflopend.

**Challenge:**  
- Sorteer `df` eerst oplopend op kolom `A` en binnen dezelfde `A`-waarde aflopend op kolom `B`.  
- Reset de index van de gesorteerde DataFrame (zodat hij terug 0,1,2,... is).

In [ ]:
# Jouw code hier