# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [49]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series (s1,s2,s3), each of length 100, as follows:
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [50]:
s1 = pd.Series(np.random.randint(1,4, size=100))
s2 = pd.Series(np.random.randint(1,3, size=100))
s3 = pd.Series(np.random.randint(10000,30000, size=100))

In [51]:
for s in [s1,s2,s3]:
    print(s.head(), '\n\n')

0    1
1    2
2    2
3    2
4    3
dtype: int64


0    1
1    2
2    2
3    1
4    1
dtype: int64


0    26581
1    13097
2    11856
3    16748
4    10636
dtype: int64

### Step 3. Let's create a DataFrame called 'housemkt' by joinning the Series by column

In [52]:
housemkt = pd.concat([s1,s2,s3], axis=1)

In [53]:
housemkt.head()

   0  1      2
0  1  1  26581
1  2  2  13097
2  2  2  11856
3  2  1  16748
4  3  1  10636

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [54]:
housemkt.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
housemkt.head()

   bedrs  bathrs  price_sqr_meter
0      1       1            26581
1      2       2            13097
2      2       2            11856
3      2       1            16748
4      3       1            10636

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [55]:
bigcolumn = pd.DataFrame(pd.concat([s1,s2,s3]))
bigcolumn.head()

   0
0  1
1  2
2  2
3  2
4  3

### Step 6. Oops, if we run

`bigcolumn.index.max()`

it appears that our df only has 99 rows, is this true? Why (not)?

In [56]:
bigcolumn.index.max()

np.int64(99)

In [57]:
# no the index are kept but the length of the DataFrame is 300
bigcolumn.shape[0]

300

In [58]:
#Alternative way
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299 (without keeping the original index that now became irrelevant)

In [59]:
bigcolumn.reset_index(drop=True, inplace=True)

In [60]:
bigcolumn.head()

   0
0  1
1  2
2  2
3  2
4  3