In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': [1,3, np.nan],
                   'B': [5, np.nan,np.nan],
                   'C': [1,2,3]})

In [3]:
df

     A    B  C
0  1.0  5.0  1
1  3.0  NaN  2
2  NaN  NaN  3

In [10]:
df.isna()

np.int64(3)

In [13]:
df.isna().sum()

A    1
B    2
C    0
dtype: int64

In [14]:
df.isna().sum(axis=1)

0    0
1    1
2    2
dtype: int64

In [19]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [20]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  3.0  NaN  2

In [21]:
df.fillna('MISSING')

         A        B  C
0      1.0      5.0  1
1      3.0  MISSING  2
2  MISSING  MISSING  3

In [22]:
df

     A    B  C
0  1.0  5.0  1
1  3.0  NaN  2
2  NaN  NaN  3

In [23]:
df['A'].fillna(df['A'].mean())

0    1.0
1    3.0
2    2.0
Name: A, dtype: float64

In [25]:
df.bfill()

     A    B  C
0  1.0  5.0  1
1  3.0  NaN  2
2  NaN  NaN  3

In [26]:
df = df.dropna()

In [29]:
def missing_func(rij):
    if rij['A'] == 4:
        return 4
    else:
        return 5

df['A'].apply(lambda x: 1 if x['A'] == 4 else 5)

np.float64(1.0)