In [2]:
import pandas as pd
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

## 3 types of combining datasets
1. Concatenation
2. Merging
3. Joining

In [3]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [4]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [5]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [7]:
pd.concat([df1,df2,df3], axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [14]:
new = pd.concat([df1.reset_index(drop=True),
           df2.reset_index(drop=True),
           df3.reset_index(drop=True)], axis=1)

In [15]:
new['A']

    A   A    A
0  A0  A4   A8
1  A1  A5   A9
2  A2  A6  A10
3  A3  A7  A11

In [37]:
left = pd.DataFrame({'key': ['K99', 'K1', 'K2', 'K3'],
                             'A': ['A0','A1','A2','A3'],
                            'B': ['B0','B1','B2','B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                             'C': ['C0','C1','C2','C3'],
                            'D': ['D0','D1','D2','D3']})

In [30]:
left

   key   A   B
0  K99  A0  B0
1   K1  A1  B1
2   K2  A2  B2
3   K3  A3  B3

In [31]:
right

  KEY   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [32]:
pd.merge(left, right, how='inner', on='key')

KeyError: 'key'

In [35]:
pd.merge(left, right, how='inner', on='key')

  key   A   B KEY   C   D
0  K1  A1  B1  K1  C1  D1
1  K2  A2  B2  K2  C2  D2
2  K3  A3  B3  K3  C3  D3

In [38]:
pd.merge(left, right, how='outer', on='key')

   key    A    B    C    D
0   K0  NaN  NaN   C0   D0
1   K1   A1   B1   C1   D1
2   K2   A2   B2   C2   D2
3   K3   A3   B3   C3   D3
4  K99   A0   B0  NaN  NaN

In [39]:
pd.merge(left, right, how='left', on='key')

   key   A   B    C    D
0  K99  A0  B0  NaN  NaN
1   K1  A1  B1   C1   D1
2   K2  A2  B2   C2   D2
3   K3  A3  B3   C3   D3

In [40]:
pd.merge(left, right, how='right', on='key')

  key    A    B   C   D
0  K0  NaN  NaN  C0  D0
1  K1   A1   B1  C1  D1
2  K2   A2   B2  C2  D2
3  K3   A3   B3  C3  D3

In [60]:
one = pd.DataFrame({'A': ['A0','A1','A2','A3'],
                    'B': ['B0','B1','B2','B3']},
                    index= ['K99', 'K1', 'K2', 'K3'])

two = pd.DataFrame({'C': ['C0','C1','C2','C3'],
                     'D': ['D0','D1','D2','D3']},
                    index=['K0', 'K1', 'K2', 'K3'])

In [61]:
one

      A   B
K99  A0  B0
K1   A1  B1
K2   A2  B2
K3   A3  B3

In [62]:
two

     C   D
K0  C0  D0
K1  C1  D1
K2  C2  D2
K3  C3  D3

In [64]:
one.join(two, how= 'outer')

       A    B    C    D
K0   NaN  NaN   C0   D0
K1    A1   B1   C1   D1
K2    A2   B2   C2   D2
K3    A3   B3   C3   D3
K99   A0   B0  NaN  NaN