# Ex2 - Getting and Knowing your Data

Check out [Chipotle Exercises Video Tutorial](https://www.youtube.com/watch?v=lpuYZ5EUyS8&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=2) to watch a data scientist go through the exercises

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [34]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [69]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter='\t')

### Step 4. See the first 10 entries

In [36]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [37]:
# Solution 1
len(chipo)

4622

In [38]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [39]:
len(chipo.columns)

5

In [40]:
# Alternative
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [41]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [42]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [43]:
chipo['item_name'].value_counts().index[0]

'Chicken Bowl'

In [48]:
# Alternative, though worse, solution

c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Step 10. For the most-ordered item, how many items were ordered?

In [45]:
chipo['item_name'].value_counts().iloc[0]

np.int64(726)

### Step 11. What was the most ordered item in the choice_description column?

In [57]:
chipo['choice_description'].value_counts().index[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [62]:
chipo['quantity'].sum()

np.int64(4972)

### Step 13. Turning the item price into a float

#### Step 13.a. Check the item price type

In [63]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Change the type of item price to a float
This is challenging, as you'll either need to use string vectorisation, which we'll see later or have to write a lambda function for it. You can skip this question if you want and see the correct code by opening this markdown cell

<!chipo['item_price'].str.lstrip('$').astype(float)-->

In [67]:
chipo['item_price'].str.lstrip('$').astype(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [70]:
# Alternative solution using a lambda function

chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.lstrip('$')))

In [ ]:
# Alternative solution

chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:-1]))

#### Step 13.c. Check the item price type

In [72]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [76]:
sum(chipo['quantity'] * chipo['item_price'])

39237.02

### Step 15. How many orders were made in the period?

In [78]:
chipo['order_id'].nunique()

1834

In [79]:
# ALternative, though worse, solution

chipo.order_id.value_counts().count()

np.int64(1834)

### Step 16. What is the average revenue amount per order?

In [85]:

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby('order_id')['revenue'].sum().mean()

np.float64(21.39423118865867)

### Step 17. How many different items are sold?

In [89]:
chipo['item_name'].nunique()

50