In [3]:
import pandas as pd
import numpy as np
import os
import subprocess

In [4]:
! python3 --version
! pip3 --version

Python was not found; run without arguments to install from the Microsoft Store, or disable this shortcut from Settings > Apps > Advanced app settings > App execution aliases.

pip 25.1.1 from C:\Users\shpctac10027\PycharmProjects\Data_Scientist_Syntra\.venv\Lib\site-packages\pip (python 3.13)

In [6]:
cur_dir = os.getcwd()
subprocess.call(['python3', f'{cur_dir}/gen_files_io.py'])

9009

In [7]:
! pip3 install --upgrade pip
! pip3 install openpyxl
! pip3 install sqlalchemy
! pip3 install psycopg2
! pip3 install fastparquet
! pip3 install lxml

Requirement already satisfied: pip in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (25.1.1)
Collecting pip
  Using cached pip-25.3-py3-none-any.whl.metadata (4.7 kB)
Using cached pip-25.3-py3-none-any.whl (1.8 MB)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: To modify pip, please run the following command:
C:\Users\shpctac10027\PycharmProjects\Data_Scientist_Syntra\.venv\Scripts\python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (from sqlalchemy) (4.15.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2 in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (2.9.11)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: fastparquet in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (2024.11.0)
Requirement already satisfied: pandas>=1.5.0 in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (from fastparquet) (2.3.3)
Requirement already satisfied: numpy in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (from fastparquet) (2.3.5)
Requirement already satisfied: cramjam>=2.3 in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (from fastparquet) (2.11.0)
Requirement already satisfied: fsspec in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (from fastparquet) (2025.12.0)
Requirement already satisfied: packaging in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (from fastparquet) (25.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: lxml in c:\users\shpctac10027\pycharmprojects\data_scientist_syntra\.venv\lib\site-packages (6.0.2)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
dconn_str = "postgresql://avnadmin:AVNS_ZdDb93Yjx6l0LlnITsX@pg-230e9f42-jonas-syntra.b.aivencloud.com:23448/defaultdb?sslmode=require"

1. CSV-files
2. Excel-files
3. Parquet files
4. SQL Databases

## 1. CSV-files
Comma seperated files

### 1.1 Reading
#### 1.2 Basic cases
- data inlezen
- header kiezen
- index kiezen
- omgaan met missing data
- type casting
- selective reading

In [10]:
df = pd.read_csv('data/df1.csv')
df.head()

     name  age  score        date  value
0    Alex   20     50  01-12-2024    100
1   Robin   21     51  02-12-2024    101
2     Sam   22     52  03-12-2024    102
3   Jamie   23     53  04-12-2024    103
4  Taylor   24     54  05-12-2024    104

In [13]:
pd.read_csv('data/df1.csv', header=1)

      Alex  20  50  01-12-2024  100
0    Robin  21  51  02-12-2024  101
1      Sam  22  52  03-12-2024  102
2    Jamie  23  53  04-12-2024  103
3   Taylor  24  54  05-12-2024  104
4    Casey  25  55  06-12-2024  105
5   Jordan  26  56  07-12-2024  106
6      NaN  27  57  08-12-2024  107
7    Riley  28  58  09-12-2024  108
8  UNKNOWN  29  59  10-12-2024  109

In [24]:
pd.read_csv('data/df1.csv', usecols=list(range(0,1))+[2])

      name  score
0     Alex     50
1    Robin     51
2      Sam     52
3    Jamie     53
4   Taylor     54
5    Casey     55
6   Jordan     56
7      NaN     57
8    Riley     58
9  UNKNOWN     59

In [26]:
pd.read_csv('data/df1.csv', index_col=0)

         age  score        date  value
name
Alex      20     50  01-12-2024    100
Robin     21     51  02-12-2024    101
Sam       22     52  03-12-2024    102
Jamie     23     53  04-12-2024    103
Taylor    24     54  05-12-2024    104
Casey     25     55  06-12-2024    105
Jordan    26     56  07-12-2024    106
NaN       27     57  08-12-2024    107
Riley     28     58  09-12-2024    108
UNKNOWN   29     59  10-12-2024    109

In [27]:
pd.read_csv('data/df1.csv')

      name  age  score        date  value
0     Alex   20     50  01-12-2024    100
1    Robin   21     51  02-12-2024    101
2      Sam   22     52  03-12-2024    102
3    Jamie   23     53  04-12-2024    103
4   Taylor   24     54  05-12-2024    104
5    Casey   25     55  06-12-2024    105
6   Jordan   26     56  07-12-2024    106
7      NaN   27     57  08-12-2024    107
8    Riley   28     58  09-12-2024    108
9  UNKNOWN   29     59  10-12-2024    109

In [33]:
df = pd.read_csv('data/df1.csv', na_values=['UNKNOWN'])

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    8 non-null      object
 1   age     10 non-null     int64
 2   score   9 non-null      float64
 3   date    10 non-null     object
 4   value   10 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 532.0+ bytes

In [42]:
test = pd.read_csv('data/df1.csv', dtype={'age':float})

In [43]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    9 non-null      object
 1   age     10 non-null     float64
 2   score   9 non-null      float64
 3   date    10 non-null     object
 4   value   10 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 532.0+ bytes

In [47]:
df_without = pd.read_csv('data/df1.csv')
df_with = pd.read_csv('data/df1.csv', parse_dates=['date'], date_format='%d-%m-%Y')

In [48]:
df_without.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    9 non-null      object
 1   age     10 non-null     int64
 2   score   9 non-null      float64
 3   date    10 non-null     object
 4   value   10 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 532.0+ bytes

In [49]:
df_without['date'].dt.month

AttributeError: Can only use .dt accessor with datetimelike values

In [51]:
df_with['date'].dt.day_name()

0       Sunday
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
8       Monday
9      Tuesday
Name: date, dtype: object

In [52]:
df = pd.read_csv('data/df1.csv', skiprows=2)
df.columns = ['name', 'age']

     Robin  21  Unnamed: 2  02-12-2024  101
0      Sam  22          52  03-12-2024  102
1    Jamie  23          53  04-12-2024  103
2   Taylor  24          54  05-12-2024  104
3    Casey  25          55  06-12-2024  105
4   Jordan  26          56  07-12-2024  106
5      NaN  27          57  08-12-2024  107
6    Riley  28          58  09-12-2024  108
7  UNKNOWN  29          59  10-12-2024  109

#### 1.1.2 Special cases
- different seperator
- Bad lines
- diffent encoding

### 1.2 Writing

## 2. Excel
### 2.1 Reading
- Excel-formules worden niet uitgevoerd, enkel value ingelezen. Zelfde met formatting

### 2.2 Writing

## 3. SQL
### 3.1 Reading

### 3.2 Writing

## 4. Other formats