In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('data/train.csv')

### 1. Basis

In [5]:
train.head()

,Unnamed: 0,id,date,store_nbr,family,sales,onpromotion
0,1488953,1488953,2015-04-18,36,PET SUPPLIES,0.000,0
1,1157196,1157196,2014-10-13,28,HOME CARE,233.000,0
2,2139510,2139510,2016-04-18,4,LINGERIE,1.000,0
3,2772755,2772755,2017-04-09,8,PREPARED FOODS,228.582,1
4,2706865,2706865,2017-03-04,1,CLEANING,752.000,10

In [7]:
train.tail()

,Unnamed: 0,id,date,store_nbr,family,sales,onpromotion
9995,2185090,2185090,2016-05-14,19,POULTRY,327.719,0
9996,483219,483219,2013-09-29,18,AUTOMOTIVE,3.000,0
9997,477541,477541,2013-09-25,8,SCHOOL AND OFFICE SUPPLIES,0.000,0
9998,1130314,1130314,2014-09-28,23,SCHOOL AND OFFICE SUPPLIES,0.000,0
9999,2888727,2888727,2017-06-14,12,CELEBRATION,6.000,0

In [9]:
train.sample(10)

,Unnamed: 0,id,date,store_nbr,family,sales,onpromotion
3112,448162,448162,2013-09-09,33,"LIQUOR,WINE,BEER",8.0,0
4723,487818,487818,2013-10-01,46,GROCERY I,8116.0,0
7601,1237112,1237112,2014-11-27,20,DAIRY,0.0,0
9181,1032470,1032470,2014-08-04,28,SEAFOOD,5.0,0
4383,1943872,1943872,2015-12-30,50,CLEANING,2240.0,2
1152,1069975,1069975,2014-08-25,30,HOME AND KITCHEN II,0.0,0
3885,2570058,2570058,2016-12-16,20,HOME CARE,194.0,5
5353,2437444,2437444,2016-10-02,49,SCHOOL AND OFFICE SUPPLIES,7.0,0
2313,185642,185642,2013-04-15,18,HOME APPLIANCES,1.0,0
3991,364204,364204,2013-07-24,28,HOME AND KITCHEN II,0.0,0

In [10]:
train.dtypes

Unnamed: 0       int64
id               int64
date            object
store_nbr        int64
family          object
sales          float64
onpromotion      int64
dtype: object

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   id           10000 non-null  int64
 2   date         10000 non-null  object
 3   store_nbr    10000 non-null  int64
 4   family       10000 non-null  object
 5   sales        10000 non-null  float64
 6   onpromotion  10000 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 547.0+ KB

In [12]:
train.describe()

         Unnamed: 0            id     store_nbr         sales   onpromotion
count  1.000000e+04  1.000000e+04  10000.000000  10000.000000  10000.000000
mean   1.508847e+06  1.508847e+06     27.533200    360.626460      2.743400
std    8.671306e+05  8.671306e+05     15.569353   1082.167822     12.490683
min    3.180000e+02  3.180000e+02      1.000000      0.000000      0.000000
25%    7.609452e+05  7.609452e+05     14.000000      0.000000      0.000000
50%    1.511222e+06  1.511222e+06     27.000000     11.000000      0.000000
75%    2.259545e+06  2.259545e+06     41.000000    195.763000      0.000000
max    3.000705e+06  3.000705e+06     54.000000  20384.000000    290.000000

### 2. Info about unique values

In [14]:
train['family'].unique()

array(['PET SUPPLIES', 'HOME CARE', 'LINGERIE', 'PREPARED FOODS',
       'CLEANING', 'HOME AND KITCHEN I', 'HOME AND KITCHEN II',
       'GROCERY I', 'MAGAZINES', 'DELI', 'LADIESWEAR', 'BABY CARE',
       'LIQUOR,WINE,BEER', 'BOOKS', 'FROZEN FOODS', 'POULTRY',
       'BREAD/BAKERY', 'PRODUCE', 'AUTOMOTIVE', 'GROCERY II', 'DAIRY',
       'MEATS', 'EGGS', 'PERSONAL CARE', 'BEVERAGES',
       'PLAYERS AND ELECTRONICS', 'SCHOOL AND OFFICE SUPPLIES', 'BEAUTY',
       'HOME APPLIANCES', 'HARDWARE', 'CELEBRATION', 'LAWN AND GARDEN',
       'SEAFOOD'], dtype=object)

In [15]:
len(train['family'].unique())

33

In [16]:
train['family'].nunique()

33

In [19]:
train['family'].value_counts()

family
DAIRY                         336
HOME AND KITCHEN I            336
HOME AND KITCHEN II           321
FROZEN FOODS                  320
CLEANING                      314
BABY CARE                     311
GROCERY I                     311
GROCERY II                    311
BREAD/BAKERY                  310
HOME CARE                     310
PERSONAL CARE                 310
PRODUCE                       308
POULTRY                       308
LIQUOR,WINE,BEER              307
MAGAZINES                     306
LINGERIE                      305
AUTOMOTIVE                    304
HOME APPLIANCES               301
PREPARED FOODS                301
MEATS                         299
HARDWARE                      298
BOOKS                         298
LAWN AND GARDEN               294
EGGS                          294
CELEBRATION                   293
BEAUTY                        292
BEVERAGES                     292
SEAFOOD                       287
PLAYERS AND ELECTRONICS       286
PET SUPPLIES                  286
LADIESWEAR                    285
DELI                          285
SCHOOL AND OFFICE SUPPLIES    281
Name: count, dtype: int64

### 3. Info over opbouw DataFrame

In [23]:
train.shape

(10000, 7)

In [24]:
train.shape[0]

10000

In [36]:
for col in train.columns:
    print(train[col].value_counts())

Unnamed: 0
1488953    1
1281183    1
1601571    1
2674815    1
402588     1
          ..
980267     1
1462026    1
2990422    1
2654378    1
2888727    1
Name: count, Length: 10000, dtype: int64
id
1488953    1
1281183    1
1601571    1
2674815    1
402588     1
          ..
980267     1
1462026    1
2990422    1
2654378    1
2888727    1
Name: count, Length: 10000, dtype: int64
date
2017-02-12    15
2017-05-30    14
2017-02-18    13
2017-07-18    13
2016-11-05    13
              ..
2015-11-23     1
2014-12-07     1
2016-10-05     1
2015-10-01     1
2014-01-17     1
Name: count, Length: 1679, dtype: int64
store_nbr
14    220
24    217
5     208
54    206
34    206
13    206
46    202
50    200
33    199
35    199
41    197
27    195
28    195
32    194
2     193
6     193
47    192
17    191
10    191
43    189
18    188
21    188
36    188
26    187
37    187
19    186
22    186
44    185
49    185
53    184
1     182
4     180
38    180
16    179
48    178
11    177
52    177
40    177
12    177
29    176
20    175
25    173
23    173
8     173
3     170
42    169
39    168
30    168
15    167
45    167
7     166
9     166
51    165
31    160
Name: count, dtype: int64
family
DAIRY                         336
HOME AND KITCHEN I            336
HOME AND KITCHEN II           321
FROZEN FOODS                  320
CLEANING                      314
BABY CARE                     311
GROCERY I                     311
GROCERY II                    311
BREAD/BAKERY                  310
HOME CARE                     310
PERSONAL CARE                 310
PRODUCE                       308
POULTRY                       308
LIQUOR,WINE,BEER              307
MAGAZINES                     306
LINGERIE                      305
AUTOMOTIVE                    304
HOME APPLIANCES               301
PREPARED FOODS                301
MEATS                         299
HARDWARE                      298
BOOKS                         298
LAWN AND GARDEN               294
EGGS                          294
CELEBRATION                   293
BEAUTY                        292
BEVERAGES                     292
SEAFOOD                       287
PLAYERS AND ELECTRONICS       286
PET SUPPLIES                  286
LADIESWEAR                    285
DELI                          285
SCHOOL AND OFFICE SUPPLIES    281
Name: count, dtype: int64
sales
0.000       3092
1.000        382
2.000        314
3.000        221
4.000        218
            ...
3536.000       1
2148.000       1
123.972        1
2530.000       1
327.719        1
Name: count, Length: 2831, dtype: int64
onpromotion
0      7929
1       555
2       244
3       158
4       110
       ...
164       1
125       1
179       1
92        1
101       1
Name: count, Length: 118, dtype: int64

### 4. Type conversion

In [38]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   id           10000 non-null  int64
 2   date         10000 non-null  object
 3   store_nbr    10000 non-null  int64
 4   family       10000 non-null  object
 5   sales        10000 non-null  float64
 6   onpromotion  10000 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 547.0+ KB

0         0
1       233
2         1
3       228
4       752
       ...
9995    327
9996      3
9997      0
9998      0
9999      6
Name: sales, Length: 10000, dtype: int64

In [39]:
train['sales']

0         0.000
1       233.000
2         1.000
3       228.582
4       752.000
         ...
9995    327.719
9996      3.000
9997      0.000
9998      0.000
9999      6.000
Name: sales, Length: 10000, dtype: float64

In [41]:
train['sales'] = train['sales'].astype(int)

0         0
1       233
2         1
3       228
4       752
       ...
9995    327
9996      3
9997      0
9998      0
9999      6
Name: sales, Length: 10000, dtype: int64

In [45]:
pd.to_datetime(train['date'])

0      2015-04-18
1      2014-10-13
2      2016-04-18
3      2017-04-09
4      2017-03-04
          ...
9995   2016-05-14
9996   2013-09-29
9997   2013-09-25
9998   2014-09-28
9999   2017-06-14
Name: date, Length: 10000, dtype: datetime64[ns]

In [46]:
train['date'] = pd.to_datetime(train['date'], format='%Y-%m-%d')

0      2015-04-18
1      2014-10-13
2      2016-04-18
3      2017-04-09
4      2017-03-04
          ...
9995   2016-05-14
9996   2013-09-29
9997   2013-09-25
9998   2014-09-28
9999   2017-06-14
Name: date, Length: 10000, dtype: datetime64[ns]

In [47]:
pd.to_numeric(train['sales'])

0         0.000
1       233.000
2         1.000
3       228.582
4       752.000
         ...
9995    327.719
9996      3.000
9997      0.000
9998      0.000
9999      6.000
Name: sales, Length: 10000, dtype: float64

### 5. Duplicates

In [49]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

In [50]:
df.head()

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [52]:
sum(df.duplicated())

1

In [53]:
df.drop_duplicates()

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [54]:
df.duplicated(subset='brand')

0    False
1     True
2    False
3     True
4     True
dtype: bool